{% extends "pizzas/base.html" %}

{% block content %}

<h2>{{pizzas}} Pizza Details:</h2>

<img src="{{ pizzas.image.url }}" width = '200'/>

<h2>Toppings on the {{pizzas}} Pizza:</h2>

<ul>
    {% for topping in toppings %}
    <li> 
        <p>{{topping.topping_name}}</p>
    </li>
    {% empty %}
    <li>No toppings have been added for this pizza yet.</li>
    {% endfor %}
</ul>

<h2>Comments</h2>
<ul>
    {% for comment in pizzas.comment_set.all %}
    <li>
        {{ comment.content }}<br>
        Posted on {{ comment.time }}
    </li>
    {% empty %}
    <li>No comments yet.</li>
    {% endfor %}
</ul>

<p>
    <a href="{% url 'pizzas:new_comment' pizzas.id %}">Add a new comment</a>
</p>

{% endblock content %}
