{% extends "pizzas/base.html" %}

{% block content %}

<p>
    {{pizzas}} Pizza Details:
</p>

<img src="{{ pizzas.image.url }}" width = '200'/>

<p>
    Toppings on the {{pizzas}} Pizza:
</p>

<ul>
    {% for topping in toppings %}
    <li> 
        <p>{{topping.topping_name}}</p>
    </li>
    {% empty %}
    <li>No toppings have been added for this pizza yet.</li>
    {% endfor %}
</ul>

<p>
    <a href="{% url 'pizzas:new_comment' pizzas.id %}">Add a new comment</a>
</p>

{% endblock content %}
